{% if page.sidebar != false %}
  <div class="sidebar">
    <aside>
      <h1>Recent blog posts</h1>
      <ul class="posts">
        {% for post in site.posts limit: 5 %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </aside>
    <aside class="newsletter">
      <p>
        <a href="http://visitor.r20.constantcontact.com/d.jsp?llr=e66slgdab&amp;p=oi&amp;m=1102946334628&amp;sit=go4zugzeb&amp;f=24683eb8-57c6-41c7-8ac7-471b2a55855d" target="_blank">Subscribe to our newsletter</a>
      </p>
    </aside>
  </div>
{% endif %}
{% comment %}
vim: set ts=2 sw=2 sta et syn=liquid:
{% endcomment %}
